site_name: Kiara
site_description: Documentation for the Kiara project
site_url: https://dharpa.org/kiara
repo_url: https://github.com/DHARPA-Project/kiara
site_author: Markus Binsteiner
copyright: DHARPA project
docs_dir: docs
site_dir: build/site

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    -
extra_css:
  - stylesheets/extra.css

markdown_extensions:
- attr_list
- admonition
- def_list
- codehilite:
    guess_lang: false
- toc:
    permalink: true
    toc_depth: 3
- pymdownx.snippets:
    base_path: docs
- pymdownx.highlight
- pymdownx.superfences

nav:
#- Home: index.md
#- Install: install.md
#- Architecture:
#    - Overview: architecture/index.md
#    - Data:
#      - Overview: architecture/data/index.md
#      - Formats: architecture/data/data_formats.ipynb
#    - Workflows:
#      - Workflows: architecture/workflows/index.md
#      - Modularity: architecture/workflows/modularity/modularity.ipynb
#    - Metadata: architecture/metadata.md
#    - Decisions: architecture/decisions.md
#    - Assumptions: architecture/assumptions.md

extra:
  version:
    provider: mike

plugins:
- search
- mknotebooks
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        selection:
          docstring_style: google

    watch:
      - "src"
    enable_inventory: true
#- frkl-docgen:
#    main_module: "kiara"
- macros:
   modules:
     - kiara.doc.mkdocs_macros_cli
     - kiara.doc.mkdocs_macros_kiara
- gen-files:
    scripts:
      - scripts/documentation/gen_info_pages.py
      - scripts/documentation/gen_api_doc_pages.py
#      - scripts/documentation/gen_schemas.py
- literate-nav:
    nav_file: SUMMARY.md
- section-index
