site_name: Kiara
site_description: Documentation for the Kiara project
site_url: https://dharpa.org/kiara
repo_url: https://github.com/DHARPA-Project/kiara
site_author: Markus Binsteiner
copyright: DHARPA project
docs_dir: docs
site_dir: build/site

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking

markdown_extensions:
- attr_list
- admonition
- def_list
- codehilite:
    guess_lang: false
- toc:
    permalink: true
    toc_depth: 3
- pymdownx.snippets:
    base_path: docs
- pymdownx.highlight
- pymdownx.superfences

nav:
- Home: index.md
- Install: install.md

plugins:
- search
- mknotebooks
- mkdocstrings:
    default_handler: python
    watch:
      - "src"
- frkl-docgen:
    main_module: "kiara"
- macros:
   modules:
     - kiara.doc.mkdocs_macros_cli
     - kiara.doc.mkdocs_macros_kiara
- gen-files:
    scripts:
      - scripts/documentation/gen_schemas.py
