name: "windows tests for 'kiara'"
# This workflow is triggered on pushes to the repository.
on: [push]


jobs:
  test-windows:
    name: pytest on windows
    runs-on: windows-latest
    strategy:
      matrix:
        python_version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - name: "Set up Python ${{ matrix.python_version }}"
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python_version }}"
      - name: pip cache
        id: pip-cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.*') }}
      - uses: actions/checkout@v2
      - name: install required plugin packages
        run: pip install  --prefer-binary -U --pre --extra-index-url https://pypi.fury.io/dharpa/ kiara_plugin.core_types kiara_plugin.tabular
      - name: install kiara
        run: pip install  --prefer-binary -U --extra-index-url https://pypi.fury.io/dharpa/ .[dev_testing]
      - name: test with pytest
        run: make test
