name: "darwin tests for 'kiara'"
# This workflow is triggered on pushes to the repository.
on: [push]
env:
  DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer
  MACOSX_DEPLOYMENT_TARGET: 10.14


jobs:
  test-darwin:
    name: pytest on darwin
    runs-on: macos-10.15
    strategy:
      matrix:
        python_version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - name: "Set up Python ${{ matrix.python_version }}"
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python_version }}"
      - name: pip cache
        id: pip-cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.*') }}
      - uses: actions/checkout@v2
      - name: install kiara
        run: pip install -U --extra-index-url https://pypi.fury.io/dharpa/ .[all,dev_testing]
      - name: install kiara_modules.core
        run: pip install -U --pre --extra-index-url https://pypi.fury.io/dharpa/ kiara_modules.core[all]
      - name: Test with pytest
        run: make test
